.titleLabel {
    color: white;
    font-size: xx-large;
    font-family: 'Architects Daughter', cursive;
}

.credentialLabel {
    color: black;
    font-size: large;
    font-family: 'Architects Daughter', cursive;
}

.invalidCredentials {
    background-color: darkred;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: large;
}