.footer{
    background-color: rgb(218, 255, 116);
    display: inline-block;
    bottom: 0;
    height: 120px;
    margin-top: 0;
    text-align: center;
    width: 100%;
}

.quote {
    font-family: 'Merienda One', cursive;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    padding-top: 10px;
}