.nav-box {
    display: block;
    width: auto;
    background-color: rgb(218, 255, 116); 
    float: right;
    margin: 30px;
    padding: 10px;
    border-radius: 30px; 
}

.nav-box:hover {
    background: rgba(218, 255, 116, 0.74);
    cursor: pointer;
}

.nav-link {
    font-family: 'Architects Daughter', cursive;
}
