.container {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    background-color: bisque;
    width: 96%;
    height: 7vh;
    margin-left: 2%;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    /*border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;*/
    border: 2px solid burlywood
}

.box {
    margin: 12px;
}

.select {
    font-family: 'Architects Daughter', cursive;
    background-color: lightskyblue;
    border-radius: 30px;
}

.input {
    border-radius: 30px;
    border: none;
    border-bottom: 2px solid burlywood
}

